### Análise dos Covenants Contábeis divulgados pelas empresas listadas na B# (2010 a 2022)

In [2]:
## bibliotecas usadas
import pandas as pd
import os
import numpy as np
import re

### A análise começou com a coleta manual das notas explicativas publicadas pelas empresas no site da B3 Investidor, como também da Comissão de Valores Mobiliários (CVM).
Após coleta fiz um script para ler todos os pdfs (disponível no github: `link`) e separar em uma pasta todos que citaram covenants ou cláusulas restritivas.

In [8]:
empresas_df = pd.read_excel("M:\{estudos}\Python\Covenants-Contabeis\Empresas_com_covenants.xlsx")
empresas_df.head()

<>:1: SyntaxWarning: invalid escape sequence '\{'
<>:1: SyntaxWarning: invalid escape sequence '\{'
C:\Users\Maria Eduarda\AppData\Local\Temp\ipykernel_72928\62090819.py:1: SyntaxWarning: invalid escape sequence '\{'
  empresas_df = pd.read_excel("M:\{estudos}\Python\Covenants-Contabeis\Empresas_com_covenants.xlsx")

                                        Empresa  Quantidade de Anos
0                           Hidrovias do Brasil                  11
1       Ambipar Participacoes e Empreendimentos                   4
2  Plano & Plano Desenvolvimento Imobiliario SA                   4
3                                        Renner                  13
4                     B3 SA Brasil Bolsa Balcao                   3

In [ ]:
empresas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Empresa             282 non-null    object
 1   Quantidade de Anos  282 non-null    int64
dtypes: int64(1), object(1)
memory usage: 4.5+ KB

## Dividindo agora a base de dados da análise manual de todas as notas explicativas que citaram "covenants"

In [10]:
covenants = pd.read_excel("M:\{estudos}\Python\Covenants-Contabeis\Base Covenants Contabeis.xlsx")
covenants.tail()

<>:1: SyntaxWarning: invalid escape sequence '\{'
<>:1: SyntaxWarning: invalid escape sequence '\{'
C:\Users\Maria Eduarda\AppData\Local\Temp\ipykernel_72928\3345557802.py:1: SyntaxWarning: invalid escape sequence '\{'
  covenants = pd.read_excel("M:\{estudos}\Python\Covenants-Contabeis\Base Covenants Contabeis.xlsx")

,EMPRESA,ANO,POSSUI COVENANT,DIVULGOU,Debenture ou Empréstimos e financiamento,Índice Utilizado,Limite,Violou?
6266,Zamp,2021.0,SIM,SIM,Debêntures,Dívida Líquida / EBITDA,menor ou igual a 3,SIM
6267,Zamp,2022.0,SIM,SIM,Debêntures,Dívida Líquida / EBITDA,menor ou igual a 3,NÃO
6268,Zamp,2022.0,SIM,SIM,Debêntures,Dívida Líquida / EBITDA,menor ou igual a 3,NÃO
6269,Zamp,2023.0,SIM,SIM,Debêntures,Dívida Líquida / EBITDA,menor ou igual a 3,NÃO
6270,Zamp,2023.0,SIM,SIM,Debêntures,Dívida Líquida / EBITDA,menor ou igual a 3,NÃO

In [11]:
covenants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6271 entries, 0 to 6270
Data columns (total 8 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   EMPRESA                                   6264 non-null   object
 1   ANO                                       6254 non-null   float64
 2   POSSUI COVENANT                           6254 non-null   object
 3   DIVULGOU                                  5979 non-null   object
 4   Debenture ou Empréstimos e financiamento  5238 non-null   object
 5   Índice Utilizado                          5197 non-null   object
 6   Limite                                    4822 non-null   object
 7   Violou?                                   4620 non-null   object
dtypes: float64(1), object(7)
memory usage: 392.1+ KB

In [ ]:
covenants['Ano'] = covenants['Data'].dt.year
covenants