### An√°lise dos Covenants Cont√°beis divulgados pelas empresas listadas na B# (2010 a 2022)

In [29]:
## bibliotecas usadas
import pandas as pd
import numpy as np
import unicodedata
import os
import re
from fuzzywuzzy import fuzz, process

m:\apps no sd\Python\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

### A an√°lise come√ßou com a coleta manual das notas explicativas publicadas pelas empresas no site da B3 Investidor, como tamb√©m da Comiss√£o de Valores Mobili√°rios (CVM).
Ap√≥s coleta fiz um script para ler todos os pdfs (dispon√≠vel no github: `link`) e separar em uma pasta todos que citaram covenants ou cl√°usulas restritivas.

In [20]:
empresas_df = pd.read_excel("M:\{estudos}\Python\Covenants-Contabeis\Empresas_com_covenants.xlsx")
empresas_df.head()

<>:1: SyntaxWarning: invalid escape sequence '\{'
<>:1: SyntaxWarning: invalid escape sequence '\{'
C:\Users\Maria Eduarda\AppData\Local\Temp\ipykernel_10064\62090819.py:1: SyntaxWarning: invalid escape sequence '\{'
  empresas_df = pd.read_excel("M:\{estudos}\Python\Covenants-Contabeis\Empresas_com_covenants.xlsx")

                                        Empresa  Quantidade de Anos
0                           Hidrovias do Brasil                  11
1       Ambipar Participacoes e Empreendimentos                   4
2  Plano & Plano Desenvolvimento Imobiliario SA                   4
3                                        Renner                  13
4                     B3 SA Brasil Bolsa Balcao                   3

In [21]:
empresas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Empresa             282 non-null    object
 1   Quantidade de Anos  282 non-null    int64
dtypes: int64(1), object(1)
memory usage: 4.5+ KB

## Dividindo agora a base de dados da an√°lise manual de todas as notas explicativas que citaram "covenants"

In [22]:
covenants = pd.read_excel("M:\{estudos}\Python\Covenants-Contabeis\Base Covenants Contabeis.xlsx")
covenants.tail()

<>:1: SyntaxWarning: invalid escape sequence '\{'
<>:1: SyntaxWarning: invalid escape sequence '\{'
C:\Users\Maria Eduarda\AppData\Local\Temp\ipykernel_10064\3345557802.py:1: SyntaxWarning: invalid escape sequence '\{'
  covenants = pd.read_excel("M:\{estudos}\Python\Covenants-Contabeis\Base Covenants Contabeis.xlsx")

,EMPRESA,ANO,POSSUI COVENANT,DIVULGOU,Debenture ou Empr√©stimos e financiamento,√çndice Utilizado,Limite,Violou?
6266,Zamp,2021.0,SIM,SIM,Deb√™ntures,D√≠vida L√≠quida / EBITDA,menor ou igual a 3,SIM
6267,Zamp,2022.0,SIM,SIM,Deb√™ntures,D√≠vida L√≠quida / EBITDA,menor ou igual a 3,N√ÉO
6268,Zamp,2022.0,SIM,SIM,Deb√™ntures,D√≠vida L√≠quida / EBITDA,menor ou igual a 3,N√ÉO
6269,Zamp,2023.0,SIM,SIM,Deb√™ntures,D√≠vida L√≠quida / EBITDA,menor ou igual a 3,N√ÉO
6270,Zamp,2023.0,SIM,SIM,Deb√™ntures,D√≠vida L√≠quida / EBITDA,menor ou igual a 3,N√ÉO

In [23]:
covenants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6271 entries, 0 to 6270
Data columns (total 8 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   EMPRESA                                   6264 non-null   object
 1   ANO                                       6254 non-null   float64
 2   POSSUI COVENANT                           6254 non-null   object
 3   DIVULGOU                                  5979 non-null   object
 4   Debenture ou Empr√©stimos e financiamento  5238 non-null   object
 5   √çndice Utilizado                          5197 non-null   object
 6   Limite                                    4822 non-null   object
 7   Violou?                                   4620 non-null   object
dtypes: float64(1), object(7)
memory usage: 392.1+ KB

In [24]:
covenants.dropna(subset=['ANO'], inplace=True)
covenants['ANO'] = covenants['ANO'].astype(int)

# limpeza coluna 'Limite'
valores_unicos = covenants['Limite'].dropna().unique()
valores_unicos

array(['menor ou igual a 3,5', 'menor ou igual a 4,5',
       'maior ou igual a 1,25', 'maior ou igual a 1,2',
       'maior ou igual a 1,3', 'maior ou igual a 1', 'menor ou igual a 3',
       'maior ou igual a 1,1', 'menor ou igual a 2,5',
       'maior ou igual a 1,75', 'menor ou igual a 3,6',
       'maior ou igual a 1,76', 'maior ou igual a 1,5',
       'menor ou igual a 3,75', 'maior ou igual a 1,10',
       'menor ou igual a 5,6', 'maior ou igual a 1,15',
       'menor ou igual a 1,9 bi', 'menor ou igual a 338 mi',
       'menor ou igual a 840 mi', 'menor ou igual a 285 mi',
       'maior ou igual a 20%', 'menor ou igual a 50 mi',
       'maior ou igual a 41 mi', 'menor ou igual a 164 mi',
       'menor ou igual a 225 mi', 'maior ou igual a 1,20',
       'maior ou igual a 3,75', 'menor ou igual a 1,75',
       'menor ou igual a 0,6', 'maior ou igual a 3,50',
       'maior ou igual a 0,6', 'menor ou igual a 2,75',
       'menor ou igual a 2,50', 'menor ou igual a 3,0',
       'menor ou igual a 4,0', 'menor ou igual a 3,50',
       'maior ou igual a 1,65', 'menor ou igual a 5,25',
       'menor ou igual a 9,0', 'menor ou igual a 6,5',
       'maior ou igual a 2,0', 'menor ou igual a 1,5',
       'maior ou igual a 3,0', 'menor ou igual a 2,3',
       'menor ou igual a 2,0', 'menor ou igual a 6,53',
       'maior ou igual a 2,35', 'menor ou igual a 3,65',
       'maior ou igual a 3,5', 'menor ou igual a 1', 'menor ou igual a 2',
       'menor ou igual a 4', 'maior ou igual a 0,3', 'maior ou igual a 2',
       'menor ou igual a 5', 'maior ou igual a 0,4', 'maior ou igual a 3',
       'menor ou igual a 6', 'maior ou igual a 0,5', 'maior ou igual a 4',
       'menor ou igual a 0,2', 'menor que 4,5', 'menor que 4,6',
       'menor que 4,7', 'menor que 4,8', 'menor ou igual a 1,3',
       'menor ou igual a 1,6', 'maior que 45%', 'maior que 4',
       'menor que 4', 'menor ou igual a 0,7', 'maior ou igual a 1,55',
       'maior ou igual a 1,7', 'maior que 0,9', 'maior ou igual a 36%',
       'maior ou igual a 33%', 'menor ou igual a 70%',
       'maior ou igual a 3,8', 'maior ou igual a 35%',
       'menor ou igual a 4,25', 'menor ou igual a 4,1',
       'menor ou igual a 0,8', 'maior ou igual a 2,8',
       'menor ou igual a  53%', 'menor ou igual a 3,25',
       'menor ou igual a 90%', 'menor ou igual a  65%',
       'menor ou igual a 1,05', 'menor ou igual a 3,36',
       'menor ou igual a 0,75', 'menor ou igual a  62%',
       'menor ou igual a 0,9', 'maior ou igual a 2,3',
       'menor ou igual a 96%', 'maior ou igual a 30%',
       'MENOR OU IGUAL A 6', 'menor ou igual a 5,5',
       'menor ou igual a 7,5', 'menor ou igual a 3,8',
       'menor ou igual a 20,61%', 'maior ou igual a 0,45',
       'menor ou igual 3,75', 'menor ou igual a 0,55',
       'menor ou igual a 3,3', 'maior ou igual a 2,5',
       'maior ou igual a 2,25', 'maior ou igual a 0,25',
       'maior ou igual a 1,05', 'maior ou igual a 0,28', 'maior que 0,28',
       'maior que 0,3', 'menor que 2,33', 'menor ou igual a 4,6',
       'maior ou igual a 0,41', 'maior ou igual a 0,395',
       'menor ou igual a 0,80', 'menor ou igual a 0,72',
       'menor ou igual a 3,7', 'menor ou igual a 3,1',
       'maior ou igual a 1,9', 'maior ou igual a 0,2', 'menor que 0,5',
       'maior ou igual a 0,9', 'maior ou igual a 0,8',
       'menor ou igual a 2,2', 'menor ou igual a 4,15',
       'menor ou igual a 4,75', 'menor que 1', 'MAIOR OU IGUAL A 0,25',
       'MAIOR OU IGUAL A 0,2', 'maior ou igual a 40%',
       'menor ou igual a 66%', 'maior ou igual 1,3',
       'maior ou igual a 21%', 'maior ou igual a 0,35',
       'maior ou igual a 0,80', 'maior ou igual a 2,70',
       'maior ou igual 1,2', 'maior ou igual 0,8', 'maior ou igual 2',
       'maior ou igual 30%', 'maior ou igual 40%', 'maior ou igual 1,1',
       'maior que 2', 'maior que 1,5', 'menor ou igual a 5,0',
       'menor que 3,5', 'menor que 0,6', 'menor que 0,75', 'menor que 3',
       'menor que 0,7', 'menor que 4,0', 'maior que 2,0',
       'menor ou igual a 1,2', 'menor ou igual a 0,5',
       'maior que R$ 3.795.200', 'maior que 0,8', 'menor ou igual a 4,58',
       'menor ou igual a 7,76', 'maior ou igual a 1,56',
       'menor ou igual a 6,35', 'maior ou igual a 0,12',
       'menor ou igual a 0,33', 'menor que 0,67', 'menor ou igual a 1,15',
       'menor ou igual a 0,17', 'maior ou igual a 1,35',
       'maior ou igual a 17%', 'igual a 3', 'igual a 2', 'igual a 3,5',
       'menor ou igual a 170 milh√µes',
       'menor ou igual a 75% da soma da deprecia√ß√£o + exaust√£o + amortiza√ß√£o',
       'menor ou igual a 70% da soma da deprecia√ß√£o + exaust√£o + amortiza√ß√£o',
       'maior ou igual a 1,93', 'maior que 1,35', 'maior ou igual a 1,4',
       'maior ou igual a 1,5 do PL', 'maior ou igual a 2,7',
       'menor ou igual a 10', 'menor ou igual a 4,7',
       'menor ou igual a 0,95', 'menor ou igual a 15',
       'menor ou igual a 0,4', 'menor ou igual a 4 ',
       'menor ou igual a 0,65', 'maior ou igual a 1,6',
       'menor ou igual a 0,925', 'maior ou igual a 4,0',
       'maior que 4,0 ou menor que 0', 'menor ou igual a 3,0 ',
       'maior ou igual a 1,5 ou 2', 'maior ou igual a 1,2 ou 1,3',
       'menor ou igual a 2,7', 'maior ou igual a 1,8', 'menor que 2',
       'maior ou igual a 0,85', 'menor ou igual a 0,85',
       'menor ou igual a -50,9', 'menor ou igual a 63,1',
       'menor ou igual a 16,6', 'menor ou igual a 14,6',
       'menor ou igual a 10,4', 'menor ou igual a 9',
       'menor ou igual a 26', 'menor ou igual a 12,3',
       'menor ou igual a 9,1', 'menor ou igual a 2,25',
       'menor ou igual a 1,35', 'maior ou igual a 2,2',
       'menor ou igual a 4,8', 'menor ou igual a 4,4',
       'maior ou igual a 0,036', 'maior ou igual a 0',
       'menor ou igual a 3,2', 'menor ou igual a 0,25',
       'menor ou igual a 4,3', 'menor que 2,85', 'menor ou igual a 7',
       'maior ou igual a 2,75', 'menor ou igual a 13',
       'menor ou igual a 8', 'menor ou igual a 1,1',
       'menor ou igual a 1,07', 'menor ou igual a 5,2',
       'menor ou igual a 2,33',
       '6 parcelas mensais de 100% do principal + 30% dos juros a pagar no semestre seguinte.',
       'menor ou igual a 1,22', 'menor ou igual a 1,00',
       'maior ou igual a 1,25 ou menor que 0', 'menor ou igual a 0,45',
       'menor ou igual a 1,0', 'maior ou igual a 1,50',
       'menor ou igual a 1,50', 'maior ou igual a 5,50',
       'maior ou igual a 2,50', 'menor ou equal a 0,6',
       'maior ou igual a 0,165'], dtype=object)

In [26]:
# Fun√ß√£o para normalizar o texto (remove acentos e converte para min√∫sculo)
def normalizar_texto(texto):
    texto = str(texto).lower().strip()
    texto = texto.replace(',', '.')
    texto = re.sub(r'\s+', ' ', texto)  # remove espa√ßos duplos
    texto = unicodedata.normalize('NFKD', texto).encode('ASCII', 'ignore').decode('utf-8')
    return texto

# Lista de operadores em regex
operadores_regex = (
    r'(maior ou igual a|maior ou igual|menor ou igual a|menor ou igual|'
    r'maior que|menor que|igual a)'
)

# Fun√ß√£o principal
def extrair_limite(texto):
    if pd.isnull(texto):
        return pd.Series([None, None])

    texto_original = texto  # para verificar se tem %
    texto = normalizar_texto(texto)

    # Ignorar se houver unidades monet√°rias ou palavras irrelevantes
    if any(unidade in texto for unidade in ['r$', 'milhao', 'milhoes', 'mi', 'pl', 'depreciacao', 'amortizacao']):
        return pd.Series([None, None])

    # Detectar porcentagem
    tem_porcentagem = '%' in texto_original

    # Regex para operador e valor
    padrao = fr'{operadores_regex}\s*([0-9.]+)'
    match = re.search(padrao, texto)

    if match:
        operador = match.group(1).strip()
        try:
            valor = float(match.group(2))
            if tem_porcentagem:
                valor = valor / 100
            return pd.Series([operador, valor])
        except:
            return pd.Series([operador, None])

    return pd.Series([None, None])

df[['operador_limite', 'valor_limite']] = df['Limite'].apply(extrair_limite)
df.tail()

,EMPRESA,ANO,POSSUI COVENANT,DIVULGOU,Debenture ou Empr√©stimos e financiamento,√çndice Utilizado,Limite,Violou?,operador_limite,valor_limite
6266,Zamp,2021,SIM,SIM,Deb√™ntures,D√≠vida L√≠quida / EBITDA,menor ou igual a 3,SIM,menor ou igual a,3.0
6267,Zamp,2022,SIM,SIM,Deb√™ntures,D√≠vida L√≠quida / EBITDA,menor ou igual a 3,N√ÉO,menor ou igual a,3.0
6268,Zamp,2022,SIM,SIM,Deb√™ntures,D√≠vida L√≠quida / EBITDA,menor ou igual a 3,N√ÉO,menor ou igual a,3.0
6269,Zamp,2023,SIM,SIM,Deb√™ntures,D√≠vida L√≠quida / EBITDA,menor ou igual a 3,N√ÉO,menor ou igual a,3.0
6270,Zamp,2023,SIM,SIM,Deb√™ntures,D√≠vida L√≠quida / EBITDA,menor ou igual a 3,N√ÉO,menor ou igual a,3.0

In [ ]:
df_empresas_setores = pd.read_excel("Setores das empresas B3.xlsx")
df_empresas_setores.columns = df_empresas_setores.columns.str.strip()
lista_nomes = df_empresas_setores["Nome da empresa no preg√£o"].dropna().tolist()
df_empresas_setores

    Nome da empresa no preg√£o Ticker na bolsa             Setor
0                      AERIS¬†          AERI3¬†  Bens Industriais
1                      ARMAC¬†          ARML3¬†  Bens Industriais
2                     ATMASA¬†          ATMP3¬†  Bens Industriais
3                    AZEVEDO¬†          AZEV4¬†  Bens Industriais
4                       AZUL¬†          AZUL4¬†  Bens Industriais
..                        ...             ...               ...
370                   POLPAR¬†          PPAR3¬†            Outros
371              PROMPT PART¬†          PRPT3¬†            Outros
372              SUDESTE S/A¬†          OPSE3¬†            Outros
373             SUL 116 PART¬†          OPTS3¬†            Outros
374                YBYRA S/A¬†          YBRA4¬†            Outros

[375 rows x 3 columns]

In [32]:
df["EMPRESA"] = df["EMPRESA"].str.strip().str.upper()
df_empresas_setores["Nome da empresa no preg√£o"] = df_empresas_setores["Nome da empresa no preg√£o"].str.strip().str.upper()

def match_nome(nome, lista_nomes, threshold=60):
    melhor_match = process.extractOne(nome, lista_nomes, scorer=fuzz.partial_ratio)
    if melhor_match and melhor_match[1] >= threshold:
        return melhor_match[0]
    return None

# Aplica o fuzzy match e salva em nova coluna
df["Nome ajustado"] = df["EMPRESA"].apply(lambda x: match_nome(x, lista_nomes))

# Faz merge usando a coluna ajustada
df_merged = pd.merge(
    df,
    df_empresas_setores,
    left_on="Nome ajustado",
    right_on="Nome da empresa no preg√£o",
    how="left"
)

# Exporta e mostra os dados

df_merged.to_excel("empresas_merge_final.xlsx", index=False)
display(df_merged[["EMPRESA", "Nome ajustado", "Setor"]].head(10))

                                             EMPRESA Nome ajustado Setor
0  AERIS INDUSTRIA E COMERCIO DE EQUIPAMENTOS PAR...        AERIS¬†   NaN
1  AERIS INDUSTRIA E COMERCIO DE EQUIPAMENTOS PAR...        AERIS¬†   NaN
2  AERIS INDUSTRIA E COMERCIO DE EQUIPAMENTOS PAR...        AERIS¬†   NaN
3  AERIS INDUSTRIA E COMERCIO DE EQUIPAMENTOS PAR...        AERIS¬†   NaN
4  AERIS INDUSTRIA E COMERCIO DE EQUIPAMENTOS PAR...        AERIS¬†   NaN
5                                 AES BRASIL ENERGIA   AES BRASIL¬†   NaN
6                                 AES BRASIL ENERGIA   AES BRASIL¬†   NaN
7                                 AES BRASIL ENERGIA   AES BRASIL¬†   NaN
8                                 AES BRASIL ENERGIA   AES BRASIL¬†   NaN
9                                 AES BRASIL ENERGIA   AES BRASIL¬†   NaN

In [33]:
nao_encontradas = df_merged[df_merged["Setor"].isna()][["EMPRESA", "Nome ajustado"]].drop_duplicates()
print("Empresas n√£o encontradas:", nao_encontradas.shape[0])
display(nao_encontradas.head(10))

Empresas n√£o encontradas: 259

                                               EMPRESA Nome ajustado
0    AERIS INDUSTRIA E COMERCIO DE EQUIPAMENTOS PAR...        AERIS¬†
5                                   AES BRASIL ENERGIA   AES BRASIL¬†
37                      AGRO TRENDS PARTICIPA√á√ïES S.A.        TENDA¬†
43                   ALLIANCA SAUDE E PARTICIPACOES SA       INC SA¬†
54                                ALLIED TECNOLOGIA SA       ALLIED¬†
59                                            ALLOS SA       KALLAS¬†
84    ALLPARK EMPREENDIMENTOS PARTICIPACOES E SERVICOS       ALLIAR¬†
97                                          ALPARGATAS   ALPARGATAS¬†
111           ALPER CONSULTORIA E CORRETORA DE SEGUROS         VALE¬†
112                                         ALPHAVILLE   ALPHAVILLE¬†

## üß† 1. **Descri√ß√£o geral da base de dados**

**Objetivo**: contextualizar o leitor sobre sua amostra.

Voc√™ pode incluir:

* N√∫mero total de empresas e anos analisados.
* Distribui√ß√£o temporal da presen√ßa de covenants (`"POSSUI COVENANT"`).
* N√∫mero e propor√ß√£o de empresas que divulgaram (`"DIVULGOU"`).
* Frequ√™ncia dos tipos de instrumentos (deb√™ntures vs. empr√©stimos).
* Frequ√™ncia de presen√ßa de cl√°usulas com limites e √≠ndices.

üìå *Gr√°ficos sugeridos*: histogramas, barras, timeline com linhas empilhadas.

---

## üèóÔ∏è 2. **An√°lise dos tipos de √≠ndices utilizados**

**Objetivo**: entender os indicadores financeiros mais usados como base para os covenants.

Analise:

* Frequ√™ncia de cada valor em `"√çndice Utilizado"` (ex: d√≠vida/EBITDA, cobertura de juros, etc).
* Agrupamento por tipo de √≠ndice (liquidez, rentabilidade, endividamento, etc).
* Como esses √≠ndices variam por setor.

üìå *Gr√°ficos*: gr√°fico de barras horizontais com os √≠ndices mais comuns.

---

## üìä 3. **Distribui√ß√£o dos limites num√©ricos**

**Objetivo**: avaliar os **valores definidos nos contratos** como crit√©rios para quebra de covenant.

* Distribui√ß√£o dos valores num√©ricos extra√≠dos (`valor_limite`) por √≠ndice.
* Diferen√ßa nos limites definidos por setor.
* Comparar limites para empresas que **violaram** e **n√£o violaram**.

üìå *Gr√°ficos*: boxplots por √≠ndice, por setor, por status de viola√ß√£o.

---

## üö® 4. **An√°lise de viola√ß√£o**

**Objetivo**: identificar padr√£o de viola√ß√£o contratual.

* Percentual de empresas que violaram covenants (`"Violou?" == 'sim'`).
* Comparar com a m√©dia do √≠ndice (se tiver os valores reais dos indicadores).
* Quais √≠ndices t√™m maior taxa de viola√ß√£o?
* Existe associa√ß√£o entre tipo de √≠ndice e viola√ß√£o?

üìå *Gr√°ficos*: barras empilhadas, heatmaps.

---

## üè¢ 5. **Setores mais expostos a covenants**

**Com a vari√°vel `Setor` adicionada**, voc√™ pode:

* Ver a propor√ß√£o de empresas por setor que t√™m cl√°usulas de covenant.
* Quais setores mais divulgam os termos?
* Quais setores t√™m limites mais r√≠gidos?
* Quais setores mais violam cl√°usulas?

üìå *Gr√°ficos*: barras, heatmaps, scatterplots de valor do limite √ó setor.

---

## üìÖ 6. **Evolu√ß√£o temporal**

**Se tiver a vari√°vel `ANO` bem preenchida**:

* Evolu√ß√£o do uso de covenants ao longo do tempo.
* Mudan√ßa nos limites definidos ano a ano.
* Tend√™ncia de divulga√ß√£o e viola√ß√£o.

üìå *Gr√°ficos*: linhas por ano, √°rea acumulada, barras temporais.

---

## üîç 7. **Casos qualitativos especiais**

Voc√™ pode mencionar ou classificar manualmente:

* Limites com condi√ß√µes n√£o num√©ricas (ex: `"menor ou igual a 75% da deprecia√ß√£o"`).
* Cl√°usulas que envolvem m√∫ltiplos crit√©rios (`"maior ou igual a 1,5 ou menor que 0"`).
* Casos com valor em R\$, milh√µes, ou pagamentos parcelados.

üìå *Sugest√£o*: construir uma tabela de exemplos e agrupar por "n√£o padroniz√°vel", "qualitativo", "financeiro monet√°rio", etc.

---

## üìö 8. **Discuss√£o econom√©trica (opcional)**

Se tiver tempo e dados complementares:

* Voc√™ pode rodar uma regress√£o para **estimar a probabilidade de viola√ß√£o**, com vari√°veis como:

  * tipo de √≠ndice
  * setor
  * ano
  * valor do limite
  * tipo de instrumento (deb√™nture vs empr√©stimo)

üìå *Modelo sugerido*: regress√£o log√≠stica.

---

## ‚ú® Exemplos de perguntas para seu artigo

* "Quais √≠ndices s√£o mais usados como covenants nas empresas listadas da B3?"
* "H√° setores que enfrentam cl√°usulas mais restritivas?"
* "Os limites definidos nos contratos mudaram com o tempo?"
* "As cl√°usulas s√£o efetivas? H√° alto √≠ndice de viola√ß√£o?"
* "Existe alguma evid√™ncia de que empresas com